---
name: Build

on:
  push:
    branches:
      - master
      - dev
      - "bugfix-release/*"
      - "release/*"
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

env:
  C2_ENABLE_LTO: ${{ github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/bugfix-release/') || startsWith(github.ref, 'refs/heads/release/') }}
  CHATTERINO_REQUIRE_CLEAN_GIT: On
  CONAN_VERSION: 2.11.0

jobs:
  build-ubuntu-docker:
    # Our Ubuntu builds are built using Docker images that have been pre-published.
    # This speeds up builds for us since we do some pre-building of packages that takes a long time
    # However, this means if you need to add a dependency to the build, you'll need to do that
    # in the https://github.com/Chatterino/docker repository first.
    name: "Build Ubuntu in Docker"
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            container: ghcr.io/chatterino/chatterino2-build-ubuntu-20.04:latest
            qt-version: 6.7.2
            force-lto: false
            skip-artifact: false
            skip-crashpad: false
            build-deb: true
          - os: ubuntu-22.04
            container: ghcr.io/chatterino/chatterino2-build-ubuntu-22.04:latest
            qt-version: 6.7.2
            force-lto: false
            skip-artifact: false
            skip-crashpad: false
            build-deb: true
          - os: ubuntu-24.04
            container: ghcr.io/chatterino/chatterino2-build-ubuntu-24.04:latest
            qt-version: 6.7.2
            force-lto: false
            skip-artifact: false
            skip-crashpad: false
            build-deb: true
    env:
      C2_ENABLE_LTO: ${{ matrix.force-lto }}
      C2_ENABLE_CRASHPAD: ${{ matrix.skip-crashpad == false }}

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0 # allows for tags access

      - name: Fix git permission error
        run: |
          find . -name "SeventvAPI.cpp" -exec sed -i "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
          find . -name "SeventvEmotes.cpp" -exec sed -i "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
          git config --global --add safe.directory '*'

      - name: Install Python and libclang (24.04)
        if: matrix.os == 'ubuntu-24.04'
        run: |
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive apt -y --no-install-recommends install \
            python3 python3-venv clang-18 clang-format-18 libclang-18-dev
          echo "LIBCLANG_LIBRARY_FILE=/usr/lib/x86_64-linux-gnu/libclang-18.so" >> "$GITHUB_ENV"
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-18 42
          sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-18 42

      - name: Build
        run: |
          mkdir build
          cd build
          CXXFLAGS=-fno-sized-deallocation cmake \
            -DCMAKE_INSTALL_PREFIX=appdir/usr/ \
            -DCMAKE_BUILD_TYPE=Release \
            -DPAJLADA_SETTINGS_USE_BOOST_FILESYSTEM=On \
            -DUSE_PRECOMPILED_HEADERS=OFF \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=On \
            -DCHATTERINO_LTO="$C2_ENABLE_LTO" \
            -DCMAKE_PREFIX_PATH="$Qt6_DIR/lib/cmake" \
            -DCHATTERINO_STATIC_QT_BUILD=On \
            -DFORCE_JSON_GENERATION=${{matrix.os == 'ubuntu-24.04' && 'On' || 'Off'}} \
            ..
          make -j"$(nproc)"

      - name: Check generated sources
        if: matrix.os == 'ubuntu-24.04'
        run: |
          git add -N lib/twitch-eventsub-ws/include lib/twitch-eventsub-ws/src
          git --no-pager diff --exit-code lib/twitch-eventsub-ws/include lib/twitch-eventsub-ws/src

      - name: Package - .deb (Ubuntu)
        if: matrix.build-deb
        run: |
          cd build
          sh ./../.CI/CreateUbuntuDeb.sh

      - name: Upload artifact - .deb (Ubuntu)
        if: matrix.build-deb
        uses: actions/upload-artifact@v5
        with:
          name: Chatterino-${{ matrix.os }}-Qt-${{ matrix.qt-version }}.deb
          path: build/Chatterino-${{ matrix.os }}-x86_64.deb

  build:
    name: "Build ${{ matrix.os }}, Qt ${{ matrix.qt-version }} (LTO:${{ matrix.force-lto }}, crashpad:${{ matrix.skip-crashpad && 'off' || 'on' }})"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # macOS
          - os: macos-14
            qt-version: 6.7.1
            force-lto: false
            skip-artifact: false
            skip-crashpad: false
          # Windows
          - os: windows-latest
            qt-version: 6.7.1
            force-lto: false
            skip-artifact: false
            skip-crashpad: false

      fail-fast: false
    env:
      C2_ENABLE_LTO: ${{ matrix.force-lto }}
      C2_ENABLE_CRASHPAD: ${{ matrix.skip-crashpad == false }}

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0 # allows for tags access

      - name: Install Qt6
        if: startsWith(matrix.qt-version, '6.')
        uses: jurplel/install-qt-action@v4.3.0
        with:
          cache: true
          cache-key-prefix: ${{ runner.os }}-QtCache-${{ matrix.qt-version }}-v2
          modules: qtimageformats
          version: ${{ matrix.qt-version }}

      - name: Set proxy.
        if: startsWith(matrix.os, 'linux') || startsWith(matrix.os, 'windows')
        run: |
          find . -name "SeventvAPI.cpp" -exec sed -i "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
          find . -name "SeventvEmotes.cpp" -exec sed -i "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
        shell: bash

      - name: Set proxy.
        if: startsWith(matrix.os, 'macos')
        run: |
          find . -name "SeventvAPI.cpp" -exec sed -i '' "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
          find . -name "SeventvEmotes.cpp" -exec sed -i '' "s|proxy_placeholder|${{ secrets.SEVENTV_PROXY }}|g" {} +
        shell: bash

      # WINDOWS
      - name: Enable Developer Command Prompt (Windows)
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Setup sccache (Windows)
        # sccache v0.7.4
        uses: hendrikmuhs/ccache-action@v1.2.19
        if: startsWith(matrix.os, 'windows')
        with:
          variant: sccache
          # only save on on the default (master) branch
          save: ${{ github.event_name == 'push' }}
          key: sccache-build-${{ matrix.os }}-${{ matrix.qt-version }}-${{ matrix.skip-crashpad }}
          restore-keys: |
            sccache-build-${{ matrix.os }}-${{ matrix.qt-version }}

      - name: Cache conan packages (Windows)
        if: startsWith(matrix.os, 'windows')
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-conan-user-${{ hashFiles('**/conanfile.py') }}-QT6
          path: ~/.conan2/

      - name: Install Conan (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          python3 -c "import site; import sys; print(f'{site.USER_BASE}\\Python{sys.version_info.major}{sys.version_info.minor}\\Scripts')" >> "$GITHUB_PATH"
          pip3 install --user "conan==${{ env.CONAN_VERSION }}"
        shell: powershell

      - name: Setup Conan (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          conan --version
          conan profile detect -f
        shell: powershell

      - name: Install dependencies (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          mkdir build
          cd build
          conan install .. `
              -s build_type=RelWithDebInfo `
              -c tools.cmake.cmaketoolchain:generator="NMake Makefiles" `
              -b missing `
              --output-folder=. `
              -o with_openssl3="True"
        shell: powershell

      - name: Build (Windows)
        if: startsWith(matrix.os, 'windows')
        shell: pwsh
        run: |
          cd build
          cmake `
              -G"NMake Makefiles" `
              -DCMAKE_BUILD_TYPE=RelWithDebInfo `
              -DCMAKE_TOOLCHAIN_FILE="conan_toolchain.cmake" `
              -DUSE_PRECOMPILED_HEADERS=ON `
              -DBUILD_WITH_CRASHPAD="$Env:C2_ENABLE_CRASHPAD" `
              -DCHATTERINO_LTO="$Env:C2_ENABLE_LTO" `
              -DFORCE_JSON_GENERATION=On `
              ..
          set cl=/MP
          nmake /S /NOLOGO

      - name: Build crashpad (Windows)
        if: startsWith(matrix.os, 'windows') && !matrix.skip-crashpad
        shell: pwsh
        run: |
          cd build
          set cl=/MP
          nmake /S /NOLOGO chatterino-crash-handler
          mkdir Chatterino2/crashpad
          cp bin/crashpad/crashpad-handler.exe Chatterino2/crashpad/crashpad-handler.exe
          7z a bin/chatterino-Qt-${{ matrix.qt-version }}.pdb.7z bin/chatterino.pdb

      - name: Prepare build dir (windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          cd build
          windeployqt bin/chatterino.exe --release --no-compiler-runtime --no-translations --no-opengl-sw --dir Chatterino2/
          cp bin/chatterino.exe Chatterino2/
          ..\.CI\deploy-crt.ps1 Chatterino2
          echo nightly > Chatterino2/modes

      - name: Package (windows)
        if: startsWith(matrix.os, 'windows')
        working-directory: build
        run: |
          7z a chatterino-windows-x86-64-Qt-${{ matrix.qt-version }}.zip Chatterino2/

      - name: Upload artifact (Windows - binary)
        if: startsWith(matrix.os, 'windows') && !matrix.skip-artifact
        uses: actions/upload-artifact@v5
        with:
          name: chatterino-windows-x86-64-Qt-${{ matrix.qt-version }}.zip
          path: build/chatterino-windows-x86-64-Qt-${{ matrix.qt-version }}.zip

      - name: Upload artifact (Windows - symbols)
        if: startsWith(matrix.os, 'windows') && !matrix.skip-artifact
        uses: actions/upload-artifact@v5
        with:
          name: chatterino-windows-x86-64-Qt-${{ matrix.qt-version }}-symbols.pdb.7z
          path: build/bin/chatterino-Qt-${{ matrix.qt-version }}.pdb.7z

      - name: Clean Conan cache
        if: startsWith(matrix.os, 'windows')
        run: conan cache clean --source --build --download "*"
        shell: bash

      # MACOS
      - name: Install dependencies (MacOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          # brew install openssl rapidjson p7zip create-dmg cmake tree boost
          brew install openssl rapidjson p7zip create-dmg tree boost
        shell: bash

      - name: Build (MacOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          mkdir build
          cd build
          cmake \
              -DCMAKE_BUILD_TYPE=Release \
              -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15 \
              -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl \
              -DUSE_PRECOMPILED_HEADERS=OFF \
              -DCHATTERINO_LTO="$C2_ENABLE_LTO" \
              -DFORCE_JSON_GENERATION=Off \
              ..
          make -j"$(sysctl -n hw.logicalcpu)"
        shell: bash

      - name: Package (MacOS)
        if: startsWith(matrix.os, 'macos')
        env:
          OUTPUT_DMG_PATH: chatterino-macos-Qt-${{ matrix.qt-version}}.dmg
        run: |
          ls -la
          pwd
          ls -la build || true
          cd build
          ./../.CI/MacDeploy.sh
          ./../.CI/CreateDMG.sh
        shell: bash

      - name: Upload artifact (MacOS)
        if: startsWith(matrix.os, 'macos')
        uses: actions/upload-artifact@v5
        with:
          name: chatterino-macos-Qt-${{ matrix.qt-version }}.dmg
          path: build/chatterino-macos-Qt-${{ matrix.qt-version }}.dmg

  create-release:
    needs: [build-ubuntu-docker, build]
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/master')

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # allows for tags access

      # Windows
      - uses: actions/download-artifact@v6
        name: Windows Qt6.7.1
        with:
          name: chatterino-windows-x86-64-Qt-6.7.1.zip
          path: release-artifacts/

      - uses: actions/download-artifact@v6
        name: Windows Qt6.7.1 symbols
        with:
          name: chatterino-windows-x86-64-Qt-6.7.1-symbols.pdb.7z
          path: release-artifacts/

      # Linux
      - uses: actions/download-artifact@v6
        name: Ubuntu 20.04 deb
        with:
          name: Chatterino-ubuntu-20.04-Qt-6.7.2.deb
          path: release-artifacts/

      - uses: actions/download-artifact@v6
        name: Ubuntu 22.04 deb
        with:
          name: Chatterino-ubuntu-22.04-Qt-6.7.2.deb
          path: release-artifacts/

      - uses: actions/download-artifact@v6
        name: Ubuntu 24.04 deb
        with:
          name: Chatterino-ubuntu-24.04-Qt-6.7.2.deb
          path: release-artifacts/

      - name: Copy flatpakref
        run: |
          cp .CI/chatterino-nightly.flatpakref release-artifacts/
        shell: bash

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Format changes
        id: format-changes
        run: |
          delimiter=$(openssl rand -hex 32)
          {
            echo "changelog<<$delimiter"
            python3 ./.CI/format-recent-changes.py
            echo $delimiter
          } >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Create release
        uses: ncipollo/release-action@v1.20.0
        with:
          replacesArtifacts: true
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "release-artifacts/*"
          body: ${{ steps.format-changes.outputs.changelog }}
          prerelease: true
          name: Nightly Release
          tag: nightly-build

      - name: Update nightly-build tag
        run: |
          git tag -f nightly-build
          git push -f origin nightly-build
        shell: bash

  deploy:
    needs: [create-release]
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/master')
    steps:
      - uses: robinraju/release-downloader@v1
        with:
          tag: 'nightly-build'
          fileName: '*'
          out-file-path: 'myassets'

      - name: Upload assets to server
        env:
          RSYNC_PASSWORD: ${{ secrets.RSYNC_PASSWORD }} # Set this in your repository secrets
          SSHPASS: ${{ secrets.RSYNC_PASSWORD }} # Use the same password for sshpass
        run: |
          cd myassets

          rm *flatpakref*
          rm *pdb*

          # Use rsync to upload to the server
          rsync -avz --progress -e "sshpass -e ssh -o StrictHostKeyChecking=no" ./* root@${{ secrets.SERVER_IP }}:/var/www/html/chatterino/

          # Path to the source template file and the target output file
          template_file="template.html"
          output_file="index.html"

          wget -O ${template_file} ${{ secrets.SERVER_IP }}/chatterino/${template_file}

          # Create a temporary file for the HTML list
          temp_html_list=$(mktemp)

          # Create the HTML list of files
          echo "<ul>" > "$temp_html_list"
          echo "<li>Updated on $(date)</li>" >> "$temp_html_list"

          # Iterate over all files in the current directory
          for file in $(ls -1 . | grep -v -E "pdb|flatpakref|html" | tac); do
              echo "<li><a href=\"./$file\">$file</a></li>" >> "$temp_html_list"
          done

          echo "</ul>" >> "$temp_html_list"

          # Read the content of the template file into a variable
          template_content=$(<"$template_file")

          # Read the HTML list into a variable
          html_content=$(<"$temp_html_list")

          # Replace MY_TEMPLATE with the HTML list in the template content
          output_content="${template_content//MY_TEMPLATE/$html_content}"

          # Write the output content to the output file
          echo "$output_content" > "$output_file"

          # Send the file using rsync
          rsync -avz --progress -e "sshpass -e ssh -o StrictHostKeyChecking=no" "$output_file" root@${{ secrets.SERVER_IP }}:/var/www/html/chatterino/

          # Remove the temporary file
          rm "$temp_html_list"

          echo "The index.html file has been successfully updated and sent."

      - name: Notify
        run: |
          JSON_PAYLOAD=$(cat <<EOF
          {
              "broadcaster_id": "${{ secrets.IRC_CHANNEL_ID }}",
              "sender_id": "${{ secrets.IRC_USER_ID }}",
              "message": "${{ secrets.IRC_MESSAGE }}"
          }
          EOF
          )

          curl -X POST "https://api.twitch.tv/helix/chat/messages" \
          -H "Authorization: Bearer ${{ secrets.OAUTH_TOKEN }}" \
          -H "Client-ID: ${{ secrets.CLIENT_ID }}" \
          -H "Content-Type: application/json" \
          -d "$JSON_PAYLOAD"
